@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Black: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 0.3s linear;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--Very-Dark-Blue);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: goldenrod;
  padding: 0 5rem;
}

.logo {
  background-image: url('./assets/images/S&L-logo.png');
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.5rem;
}

.right-header,
.logo {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.right-header li {
  margin-left: 16px;
  color: goldenrod;
}

.footer {
  text-align: center;
}

.meal-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 6rem;
  padding: 0 5rem;
}

.card .card-image {
  background-color: rgb(20, 13, 78);
  height: 13rem;
  width: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 0.5rem;
  background-color: var(--Dark-Blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.first-part h2 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.like-part span {
  font-size: 1rem;
  font-weight: 600;
}

.like-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

.like-icon {
  cursor: pointer;
  color: goldenrod;
  transition: all 0.3s linear;
  background: none;
  border: none;
}

.fa-heart {
  margin-right: 0.5rem;
}

.fa-heart:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.second-part button {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--Dark-Blue);
  color: var(--White);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Dark-Gray);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.second-part button:hover {
  background-color: goldenrod;
  color: var(--White);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card .card-content {
  padding: 0 0.5rem;
  background-color: var(--Dark-Blue);
  border-radius: 0.5rem;
  color: goldenrod;
}

.first-part,
.second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.carousel-item {
  height: 45rem;
}

.modal-container {
  overflow-y: auto;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transition: 0.4s;
  padding: 16px;
}

.hide {
  display: none;
}

.close {
  cursor: pointer;
  margin-bottom: 16px;
  padding-left: 0;
  float: right;
}

/* #comment {
  overflow-y: auto;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transition: 0.4s;
  padding: 16px;
} */

@media screen and (max-width: 768px) {
  .meal-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card .card-content {
    padding: 0 0.5rem;
  }

  .first-part,
  .second-part {
    flex-direction: column;
  }

  .second-part button {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .like-part {
    margin-bottom: 0;
  }
}
