@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all 0.3s linear;
  font-family: 'Nunito Sans', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url('./images/meal-logo.png');
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-header,
.logo {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.right-header li {
  margin-left: 16px;
}

.footer {
  text-align: center;
}
