
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-image: url('./images/logo.png');
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid green;
}

.right-header,
.logo {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.right-header li {
  margin-left: 16px;
}

.modal-container{ 
    overflow-y: auto;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    transition: 0.4s;
    padding: 16px; 

}
